# Python Virtual Environments
venv/
.venv/
env/
ENV/
pyvenv.cfg

# Python Cache and Compiled files
**/__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.coverage
htmlcov/

# Environment Variables & Secrets
.env
backend/.env

# Operating System files
.DS_Store
Thumbs.db
desktop.ini

# IDEs and Editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
